*{
    font-family: SF Pro Display;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
}

.container {
    width:500px;
    padding: 10px;
    height: 250px;
    background: #42e6196c;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.location {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ebe5dc;
    border-style: dotted;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;    
}

button {
    padding: 8px;
    background-color: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: #004d40;
}

.forecast-day {
    /* height: 300px; */
    margin-top: 15px;
    /* border-top: 1px solid #000; */
    padding-top: 10px;
    background-color: #5bfcd33f;
    border-radius: 2px;
}

#weather-icon {
    width: 80px;
    height: 80px;
}
